<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>    
    <title><%=bar.name%></title>
</head>
<body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <%- include('./partials/nav.ejs') %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/bars">Back</a>
                </li>
                <form  action="/bars/<%=bar.id%>?_method=PUT" method="POST">
                    <input type="submit" value="Update" class="remove_button_css nav-link" />
                
            </ul>
            </div>
        </nav>

    <div class='container'>    
        <h1><input type="text" value="<%=bar.name%>" name="name"> 
            <small>
            <select id="location" name="location" >
            <% for (let i = 0; i < neighborhoods.length; i++) {
                if (bar.location == neighborhoods[i]) { %>
                    <option selected value="<%=neighborhoods[i]%>"> <%=neighborhoods[i]%> </option> 
                <% } else { %>
                    <option value="<%=neighborhoods[i]%>"> <%=neighborhoods[i]%> </option> 
                <% } %>                        
            <% } %>            
            </select>
            </small></h1>
            <div class="row">
                <img class="img-fluid col-lg-8" src="<%=bar.img%>"> 
                <div class="row description col-lg-4">
                    <h4><u>Description</u></h4>
                    <textarea rows="12" cols="120" id="description" name='description'><%=bar.description%></textarea>
                </div>
                <label for="img">Image URL</label>
                <input name="img" id="img" type="url" value="<%=bar.img%>"> 
            </div>           
                
            <div class="Specials">
                <h3>Specials</h3>
                <textarea id="specials" name='specials'><%= bar.specials %></textarea>
            </div>
        </form>
    </div>    

    <footer>
        <form action="/bars/<%=bar.id%>?_method=DELETE" method="POST">
            <input type="submit" value ="Delete" name="delete">
        </form>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>