<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Best Chicago Bars</title>
</head>
<body>
    <nav> Log in  Sign up <a href="bars/new">New Bar</a></nav>
    <h1>Chicago bar finder</h1>
    

    <div class="wrapper">
        <% for (let i = 0; i < Bars.length; i++) { %>
        <div class="barcontainer">
            <div class="title">
                <a href="/bars/<%=Bars[i].id%>"><h3><%= Bars[i].name %></h3></a>   
            </div>
                <a href="/bars/<%=Bars[i].id%>"><img class="barImage" src="<%= Bars[i].img %>"></img></a>
            <p class="location"><%=Bars[i].location%></p>
        </div>
        <% } %>
    </div>
</body>
</html>