<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>New Bar</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%- include('./partials/nav.ejs') %>
        </div>
      </nav>
    <div class="container">
    <h1>Add a new bar</h1>
    <form action="/bars" method="POST">
        Name: <input type="text" name="name" /><br/>
        Description: <textarea id="description" name='description'></textarea><br>
        Img URL: <input type="text" name="img" /><br/>
        Specials: <textarea id="specials" name='specials'></textarea><br>
        Location: <select required id="location" name="location" >
            <% for (let i = 0; i < neighborhoods.length; i++) { %>
               <option value="<%=neighborhoods[i]%>"> <%=neighborhoods[i]%> </option> 
        <% } %>            
        </select><br/>
        Type of Bar: <select id="barType" name="barType" >
               <option value="Dive">Dive</option>
               <option value="Nightclub">Nightclub</option>  
               <option value="Pub">Pub</option>
               <option value="Sports">Sports</option>
               <option value="College">College</option>
               <option value="Jazz">Jazz</option>
               <option value="Pub">Pub</option>
               <option value="Other">Other</option>          
        </select><br/>
        <input type="submit" name="" value="Submit"/>
    </form>
    </div>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>